<div style="background: #f5f1ed" class="my-2 container rounded border-secondary text-dark">
  <h2 id="page-heading" data-cy="AdditionalOptionHeading">
    <span>Additional Options</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-additional-option"
        [routerLink]="['/additional-option/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Additional Option </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="additionalOptions?.length === 0">
    <span>No Additional Options found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="additionalOptions && additionalOptions.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span>ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="option">
            <div class="d-flex">
              <span>Option</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="car.id">
            <div class="d-flex">
              <span>Car</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let additionalOption of additionalOptions; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/additional-option', additionalOption.id, 'view']">{{ additionalOption.id }}</a>
          </td>
          <td>{{ additionalOption.option }}</td>
          <td>
            <div *ngIf="additionalOption.car">
              <a [routerLink]="['/car', additionalOption.car.id, 'view']">{{ additionalOption.car.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/additional-option', additionalOption.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/additional-option', additionalOption.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(additionalOption)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
