<section class="gradient-custom">
  <div class="container py-5">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card text-white" style="border-radius: 1rem; background: #252323">
          <div class="card-body p-5 text-center">
            <div class="mb-md-5 mt-md-4 pb-5" id="login-form">
              <h2 data-cy="loginTitle" class="fw-bold mb-2 text-uppercase">Sign in</h2>
              <div class="alert alert-danger" *ngIf="authenticationError" data-cy="loginError">
                <strong>Failed to sign in!</strong> Please check your credentials and try again.
              </div>
              <form class="form" role="form" (ngSubmit)="login()" [formGroup]="loginForm">
                <div class="mb-3">
                  <label class="username-label d-inline-flex align-items-center" for="username">
                    <h6>Username</h6>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="8"
                      height="8"
                      fill="currentColor"
                      class="bi bi-asterisk ms-1"
                      viewBox="0 0 16 16"
                      style="color: red"
                    >
                      <path
                        d="M8 0a1 1 0 0 1 1 1v5.268l4.562-2.634a1 1 0 1 1 1 1.732L10 8l4.562 2.634a1 1 0 1 1-1 1.732L9 9.732V15a1 1 0 1 1-2 0V9.732l-4.562 2.634a1 1 0 1 1-1-1.732L6 8 1.438 5.366a1 1 0 0 1 1-1.732L7 6.268V1a1 1 0 0 1 1-1z"
                      ></path>
                    </svg>
                  </label>
                  <input
                    type="text"
                    class="form-control"
                    name="username"
                    id="username"
                    placeholder="Your username"
                    formControlName="username"
                    defaultValue="Your username"
                    #username
                    data-cy="username"
                  />

                  <div id="usernameErrorMassage">
                    <ng-container
                      *ngIf="loginForm.get('username')!.invalid && (loginForm.get('username')!.touched || loginForm.get('username')!.dirty)"
                    >
                      <ng-container
                        *ngIf="loginForm.get('username')!.errors?.['required'] ||
                      loginForm.get('username')!.errors?.['required']"
                        class="invalid-feedback"
                      >
                        <span class="text-danger">Username is required.</span>
                      </ng-container>
                      <ng-container *ngIf="loginForm.get('username')!.errors?.['minlength']" class="invalid-feedback">
                        <span class="text-danger">Username must be greater than 1.</span>
                      </ng-container>
                      <ng-container
                        *ngIf="loginForm.get('username')!.errors?.['pattern'] && !loginForm.get('username')!.errors?.['minlength']"
                        class="invalid-feedback"
                      >
                        <span class="text-danger">Username must not contain anything other than digits, letters and underlining.</span>
                      </ng-container>
                    </ng-container>
                    <ng-container
                      *ngIf="
                        this.loginForm.getRawValue().username.length > 30 &&
                        !(loginForm.get('username')!.invalid && (loginForm.get('username')!.touched || loginForm.get('username')!.dirty))
                      "
                      class="invalid-feedback"
                    >
                      <span class="text-danger">Username must be less than 30.</span>
                    </ng-container>
                  </div>
                </div>

                <div class="mb-3">
                  <label for="password" class="d-inline-flex align-items-center">
                    <h6>Password</h6>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="8"
                      height="8"
                      fill="currentColor"
                      class="bi bi-asterisk ms-1"
                      viewBox="0 0 16 16"
                      style="color: red"
                    >
                      <path
                        d="M8 0a1 1 0 0 1 1 1v5.268l4.562-2.634a1 1 0 1 1 1 1.732L10 8l4.562 2.634a1 1 0 1 1-1 1.732L9 9.732V15a1 1 0 1 1-2 0V9.732l-4.562 2.634a1 1 0 1 1-1-1.732L6 8 1.438 5.366a1 1 0 0 1 1-1.732L7 6.268V1a1 1 0 0 1 1-1z"
                      ></path>
                    </svg>
                  </label>
                  <input
                    type="password"
                    class="form-control"
                    name="password"
                    id="password"
                    placeholder="Your password"
                    formControlName="password"
                    data-cy="password"
                  />

                  <div id="passwordErrorMassage">
                    <ng-container
                      *ngIf="loginForm.get('password')!.invalid && (loginForm.get('password')!.touched || loginForm.get('password')!.dirty)"
                    >
                      <ng-container
                        *ngIf="loginForm.get('password')!.errors?.['required'] ||
                       loginForm.get('password')!.errors?.['required']"
                        class="invalid-feedback"
                      >
                        <span class="text-danger">Password is required.</span>
                      </ng-container>
                      <ng-container *ngIf="loginForm.get('password')!.errors?.['minlength']" class="invalid-feedback">
                        <span class="text-danger">Password must be greater than 4.</span>
                      </ng-container>
                    </ng-container>
                    <ng-container
                      *ngIf="
                        this.loginForm.getRawValue().password!.length > 100 &&
                        !(loginForm.get('password')!.invalid && (loginForm.get('password')!.touched || loginForm.get('password')!.dirty))
                      "
                      class="invalid-feedback"
                    >
                      <span class="text-danger">Password must be less than 100.</span>
                    </ng-container>
                  </div>
                </div>

                <div class="form-check">
                  <label class="form-check-label" for="rememberMe">
                    <input class="form-check-input" type="checkbox" name="rememberMe" id="rememberMe" formControlName="rememberMe" />
                    <span>Remember me</span>
                  </label>
                </div>

                <br />

                <button type="submit" (click)="previousState()" class="btn" style="background: #c0b7b1" data-cy="entityDetailsBackButton">
                  <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
                </button>
                &nbsp;
                <button type="submit" class="btn" style="background: #a1cca5" [disabled]="loginForm.invalid" data-cy="submit">
                  Sign in
                </button>
              </form>

              <!--              <div class="mt-3 alert alert-warning">-->
              <!--                <a class="alert-link" routerLink="/account/reset/request" data-cy="forgetYourPasswordSelector">Did you forget your password?</a>-->
              <!--              </div>-->

              <!--              <div class="alert alert-warning">-->
              <!--                <span>You don't have an account yet?</span>-->
              <!--                <a class="alert-link" routerLink="/account/register">Register a new account</a>-->
              <!--              </div>-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  .ng-invalid:not(form) {
    border-left: unset;
  }
</style>
