<ng-container *ngIf="car">
  <div class="container my-4">
    <div class="card border-secondary text-dark my-4" style="background: #f5f1ed">
      <div class="card-header d-inline-block" style="height: 55px">
        <h2 class="card-title text-center" id="car-brand-model">
          <b>{{ getCarBrand()! + ' ' + car!.model! }}</b>
        </h2>
      </div>

      <div class="row">
        <div class="col-sm-7 my-4">
          <div class="text-center mx-2 card-header">
            <img src="{{ getImageURL() }}" alt="" class="card-img-top img-thumbnail" />
          </div>
        </div>
        <div class="col-sm-5 my-4">
          <div class="row">
            <div class="col-12">
              <div class="mx-2">
                <h3 class="card-title mx-2">Characteristics</h3>
                <ul class="list-group-flush text-dark" style="background: #f5f1ed">
                  <li class="list-group-item text-dark" id="car-body-type" style="background: #f5f1ed">
                    <b>Body type : </b>{{ getCarBodyType() }}
                  </li>
                  <li class="list-group-item text-dark" id="car-transmission-type" style="background: #f5f1ed">
                    <b>Transmission type : </b>{{ car!.transmissionBoxTypes! | titlecase }}
                  </li>
                  <li class="list-group-item text-dark" id="car-engine-capacity" style="background: #f5f1ed">
                    <ng-container *ngIf="car?.engineCapacity! == 0"> <b>Engine : </b> Electric engine </ng-container>
                    <ng-container *ngIf="car?.engineCapacity! > 0">
                      <b>Engine capacity : </b>{{ car!.engineCapacity! | number: '1.1' }} liter inline
                    </ng-container>
                  </li>
                  <li *ngIf="car.year" class="list-group-item text-dark" id="car-produce-year" style="background: #f5f1ed">
                    <b>Production year : </b>{{ car!.year }}
                  </li>
                  <ng-container *ngIf="additionalOptions.length > 0">
                    <li class="list-group-item text-dark" id="car-year" style="background: #f5f1ed">
                      <b>Additional options :</b>
                      <ng-container *ngFor="let option of additionalOptions; let i = index">
                        <ng-container *ngIf="additionalOptions.length - 1 > i">
                          <span id="car-option-{{ option.option }}" class="text-dark" style="background: #f5f1ed; border: none">
                            {{ option.option }}</span
                          >,
                        </ng-container>
                        <ng-container *ngIf="!(additionalOptions.length - 1 > i)">
                          <span id="car-option-{{ option }}" class="text-dark" style="background: #f5f1ed; border: none">{{
                            option.option
                          }}</span>
                        </ng-container>
                      </ng-container>
                    </li>
                  </ng-container>
                </ul>
              </div>
            </div>
            <div class="col">
              <ng-container *ngIf="hasShortDescription()">
                <div class="mx-2">
                  <h3 class="card-title mx-2">Short description</h3>
                  <ul class="list-group-flush text-dark mx-2" style="background: #f5f1ed">
                    <li
                      class="list-group-item text-dark"
                      id="car-short-description-{{ car!.carBrand! }}-{{ car!.model! }}"
                      style="white-space: pre-line; background: #f5f1ed"
                    >
                      {{ car!.shortDescription }}
                    </li>
                  </ul>
                </div>
              </ng-container>
            </div>
          </div>
        </div>
      </div>

      <ng-container *ngIf="hasFullDescription()">
        <div class="card-body mx-2">
          <h3 class="card-title">Overview</h3>
          <ul class="list-group list-group-flush">
            <li class="list-group-item text-dark" id="car-full-description" style="background: #f5f1ed; white-space: pre-line">
              {{ car!.fullDescription }}
            </li>
          </ul>
        </div>
      </ng-container>

      <div class="card-footer align-items-end">
        <div class="d-flex align-items-end bd-highlight mb-3">
          <div class="me-auto p-2 bd-highlight">
            <button type="submit" (click)="previousState()" class="btn" style="background: #c0b7b1" data-cy="entityDetailsBackButton">
              <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>
          </div>

          <div *jhiHasAnyAuthority="'ROLE_ADMIN'" class="p-2 bd-highlight my-2">
            <button type="button" [routerLink]="['/custom-car', car.id, 'edit']" class="btn" style="background: #a1cca5">
              <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
          </div>

          <div *jhiHasAnyAuthority="'ROLE_ADMIN'" class="p-2 bd-highlight my-2">
            <div class="container">
              <button type="submit" (click)="delete()" class="btn" style="background: #ed6a5a" data-cy="entityDeleteButton">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                  <path
                    d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"
                  />
                </svg>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
